@charset "utf-8";
/* CSS Document */

#info {
	/*background:#f8f8f8;*/
	z-index:999;
	filter: alpha(opacity=10); /* internet explorer */
	-khtml-opacity: 0.5;      /* khtml, old safari */
	-moz-opacity: 100;       /* mozilla, netscape */
	opacity: 0.7;           /* fx, safari, opera */
	*filter: alpha(opacity=50); /* internet explorer */
	*opacity: 0.5;  

}
.menu {
	/*width:746x;*/
	height:32px;
	position:relative;
	z-index:999;
	border-right:0px solid #000;
	font-family:arial, sans-serif;
	float:right;
	/*padding-right:18px;*/
	/*background-color:#000000;*/
}
/* hack to correct IE5.5 faulty box model */

* html .menu {
	width:746px;
	w\idth:745px;
}
/* remove all the bullets, borders and padding from the default list styling */
.menu ul {
	padding:0;
	margin:0;
	list-style-type:none;
}
.menu ul ul {
	width:149px;
}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */

.menu li {
	float:left;
	width:149px;
	position:relative;
}
/* style the links for the top level */

.menu a, .menu a:visited {
	display:block;
	font-size:12px;
	text-decoration:none;
	color:#FFFFFF;
	width:138px;
	height:30px;
	border:1px solid #000;
	border-width:1px 0 1px 1px;
	background:#09c;
	padding-left:10px;
	line-height:29px;
	font-weight:bold;
}
/* a hack so that IE5.5 faulty box model is corrected */

* html .menu a, * html .menu a:visited {
	width:149px;
	w\idth:138px;
}
/* style the second level background */

.menu ul ul a.drop, .menu ul ul a.drop:visited {
	background:#ABE1FB url(../images/grey-arrow.gif) no-repeat 130px center;
}
/* style the second level hover */

.menu ul ul a.drop:hover {
	background:#CECECE url(../images/blue-arrow.gif) no-repeat 130px center;
}
.menu ul ul :hover > a.drop {
	background:#CECECE url(images/blue-arrow.gif) no-repeat 130px center;
}
/* style the third level background */

.menu ul ul ul a, .menu ul ul ul a:visited {
	background:#ABE1FB;
}
/* style the third level hover */

.menu ul ul ul a:hover {
	background:#ABE1FB;
}
/* hide the sub levels and give them a positon absolute so that they take up no room */

.menu ul ul {
	visibility:hidden;
	position:absolute;
	height:0;
	top:31px;
	left:0;
	width:149px;
	border-top:1px solid #000;
}
/* another hack for IE5.5 */

* html .menu ul ul {
	top:30px;
	t\op:31px;
}
/* position the third level flyout menu */

.menu ul ul ul {
	left:149px;
	top:-1px;
	width:149px;
}
/* position the third level flyout menu for a left flyout */

.menu ul ul ul.left {
	left:-149px;
}
/* style the table so that it takes no ppart in the layout - required for IE to work */

.menu table {
	position:absolute;
	top:0;
	left:0;
	border-collapse:collapse;
	;
}
/* style the second level links */

.menu ul ul a, .menu ul ul a:visited {
	background:#FFFFFF;
	color:#000000;
	height:auto;
	line-height:1em;
	padding:5px 10px;
	width:128px;
	border-width:0 1px 1px 1px;
}
/* yet another hack for IE5.5 */

* html .menu ul ul a, * html .menu ul ul a:visited {
	width:150px;
	w\idth:128px;
}
/* style the top level hover */

.menu a:hover, .menu ul ul a:hover {
	color:#000;
	background:#ABE1FB;
}
.menu :hover > a, .menu ul ul :hover > a {
	color:#000;
	background:#ABE1FB;
}
/* make the second level visible when hover on first level list OR link */

.menu ul li:hover ul,  .menu ul a:hover ul {
	visibility:visible;
}
/* keep the third level hidden when you hover on first level list OR link */

.menu ul :hover ul ul {
	visibility:hidden;
}
/* make the third level visible when you hover over second level list OR link */

.menu ul :hover ul :hover ul {
	visibility:visible;
}
/*
------------------- Top Menu End------------
*/
 #info1 {
background:#f8f8f8;
/*filter: alpha(opacity=50); *//* internet explorer */
	/*-khtml-opacity: 0.5;  */    /* khtml, old safari */
	/*-moz-opacity: 0.5;   */    /* mozilla, netscape */
	/*opacity: 0.5;    */       /* fx, safari, opera */
	z-index:100;

}
.menu1 {
	/*width:746x;*/
	height:32px;
	position:relative;
	z-index:100;
	border-right:0px solid #000;
	font-family:arial, sans-serif;
	float:right;
	/*padding-right:15px;*/
	background-color:#000000;
}
/* hack to correct IE5.5 faulty box model */

* html .menu1 {
	width:746px;
	w\idth:745px;
}
/* remove all the bullets, borders and padding from the default list styling */

.menu1 ul {
	padding:0;
	margin:0;
	list-style-type:none;
}
.menu1 ul ul {
	width:149px;
}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu1 positon */

.menu1 li {
	float:left;
	width:149px;
	position:relative;
}
/* style the links for the top level */

.menu1 a, .menu1 a:visited {
	display:block;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	width:138px;
	height:30px;
	border:1px solid #000;
	border-width:1px 0 1px 1px;
	background:#09c;
	padding-left:10px;
	line-height:29px;
	font-weight:bold;
}
/* a hack so that IE5.5 faulty box model is corrected */

* html .menu1 a, * html .menu1 a:visited {
	width:149px;
	w\idth:138px;
}
/* style the second level background */

.menu1 ul ul a.drop, .menu1 ul ul a.drop:visited {
	background:#ABE1FB url(images/grey-arrow.gif) no-repeat 130px center;
}
/* style the second level hover */

.menu1 ul ul a.drop:hover {
	background:#ABE1FB url(images/blue-arrow.gif) no-repeat 130px center;
}
.menu1 ul ul :hover > a.drop {
	background:#ABE1FB url(images/blue-arrow.gif) no-repeat 130px center;
}
/* style the third level background */

.menu1 ul ul ul a, .menu1 ul ul ul a:visited {
	background:#ABE1FB;
}
/* style the third level hover */

.menu1 ul ul ul a:hover {
	background:#ABE1FB;
}
/* hide the sub levels and give them a positon absolute so that they take up no room */

.menu1 ul ul {
	visibility:hidden;
	position:absolute;
	height:0;
	top:31px;
	left:0;
	width:149px;
	border-top:1px solid #000;
}
/* another hack for IE5.5 */

* html .menu1 ul ul {
	top:30px;
	t\op:31px;
}
/* position the third level flyout menu1 */

.menu1 ul ul ul {
	left:149px;
	top:-1px;
	width:149px;
}
/* position the third level flyout menu1 for a left flyout */

.menu1 ul ul ul.left {
	left:-149px;
}
/* style the table so that it takes no ppart in the layout - required for IE to work */

.menu1 table {
	position:absolute;
	top:0;
	left:0;
	border-collapse:collapse;
	;
}
/* style the second level links */

.menu1 ul ul a, .menu1 ul ul a:visited {
	background:#CECECE;
	color:#000;
	height:auto;
	line-height:1em;
	padding:5px 10px;
	width:128px;
	border-width:0 1px 1px 1px;
}
/* yet another hack for IE5.5 */

* html .menu1 ul ul a, * html .menu1 ul ul a:visited {
	width:150px;
	w\idth:128px;
}
/* style the top level hover */

.menu1 a:hover, .menu1 ul ul a:hover {
	color:#000;
	background:#ABE1FB;
}
.menu1 :hover > a, .menu1 ul ul :hover > a {
	color:#000;
	background:#ABE1FB;
}
/* make the second level visible when hover on first level list OR link */

.menu1 ul li:hover ul,  .menu1 ul a:hover ul {
	visibility:visible;
}
/* keep the third level hidden when you hover on first level list OR link */

.menu1 ul :hover ul ul {
	visibility:hidden;
}
/* make the third level visible when you hover over second level list OR link */

.menu1 ul :hover ul :hover ul {
	visibility:visible;
}
<!-- ------------------- Bottom Menu End-------------->
